/* for */
/* through e to */
@for $i from 1 through 3 {
  .item-#{$i} {
    background: green;
    margin-bottom:2px;
  }
}

/* while */
$contador: 1;
@while $contador < 5 {
  .item-#{$contador} {
    background: orange;
    margin-bottom:2px;
  }
  $contador: $contador + 1;
}